# Python as an engineering tool
## Python basics
### U-M Dearborn
#### Summer 2023

Topics
- Numbers
- Strings
- Lists

Animals
1. cats
2. dogs
3. tigers

Please [click here](fenggroup.com) for my website

In [19]:
# Numbers

a = 3.45    # floating number
b = 5       # integer number
c = a + b

print(c)

type(c)

8.45

float

In [20]:
# Using Python as a calculator

x = (66 - 32) * 5/9

print(x)

18.88888888888889

In [21]:
# Area = pi * r^2

pi = 3.14159
r = 5
area = pi * r**2

print(area)

78.53975

In [22]:
# Modulus: remainder of a division

11 % 2

1

In [23]:
# Variable names

prime = 11
Prime = 13

print(prime)
print(Prime)

11
13

In [24]:
# Strings

first_name = "Thierry"
last_name = "Henry"

sentence = first_name + " " + last_name + " is a football player"

print(sentence)

type(sentence)

first_name[0]
first_name[-1]
first_name * 3
first_name.lower()
sentence.split()

Thierry Henry is a football player

['Thierry', 'Henry', 'is', 'a', 'football', 'player']

In [25]:
# Booleans

is_monday = True
is_monday = False

type(is_monday)

bool

In [26]:
squares = [1, 4, 9, 16, 25]

names = ["Sarah", "Tom", "Alex"]

type(squares)

list

In [27]:
squares[1]
squares[-1]
squares[0:3]
squares[:3]
squares[-3:]

[9, 16, 25]

In [28]:
squares + [36, 49]

[1, 4, 9, 16, 25, 36, 49]

In [29]:
names.append("John")
names

['Sarah', 'Tom', 'Alex', 'John']

In [30]:
len(names)

4

In [31]:
# We can also change a list's content (mutable)

cubes = [1, 8, 27, 65, 125]

cubes[3] = 4**3
cubes

[1, 8, 27, 64, 125]

In [32]:
# It is possible to "nest" a list

a = ["a", "b", "c"]
n = [1, 2, 3, 4]

x = [a, n]

x[0][2]

'c'

In [33]:
a_confusing_list = [12, "sunday", ["cats", 12.3]]

In [34]:
# Dictionary

capitals = {"France": "Paris",
            "USA": "Washington DC",
            "Canada": "Ottawa"}

type(capitals)

capitals["USA"]

len(capitals)

3

In [35]:
# Functions

print("Go blue!")

len(names)

Go blue!

4

In [36]:
a = [5, 6]

sum(a)

11

In [37]:
round(3.14159)

round(3.14159, 2)

# Positional vs keyword arguments

round(number=3.14159, ndigits=2)

round(ndigits=2, number=3.14159)

3.14

In [38]:
import datetime

datetime.date.today()

datetime.date(2023, 5, 22)

In [39]:
import os

os.getcwd()

'c:\\Users\\adall\\Documents\\UofM\\Courses\\Python'

In [40]:
# Define custom functions

import numpy as np

def circle_area(r):
    area = np.pi * r**2
    return area

circle_area(1)

3.141592653589793

In [41]:
def addition(a=1, b=1):
    return a + b

addition(a=1, b=3)

addition()

2

In [42]:
np.sqrt(25)

5.0

In [43]:
np.exp(1)

2.718281828459045

In [44]:
np.log(3)

1.0986122886681098

In [45]:
np.log10(1_000_000)

6.0

In [46]:
ages = [12, 34, 14, 56, 23, 67, 89, 45, 23]

np.mean(ages)
np.median(ages)
max(ages)
min(ages)
np.std(ages)

24.684678108764825

In [47]:
# Define a function that computes the tip of a meal based on dollar and percent

def tip(dollar, percent=0.2):
    tip = dollar * percent
    return tip

tip_amount = tip(dollar=100)

print(f"The tip amount is ${tip_amount}")

The tip amount is $20.0

In [48]:
# Comparison operators

4 < 5
4 < 3
4 >= 5
4 == 4
4 != 5

True

In [51]:
3 in [1, 2, 3, 4]
3 not in [1, 2, 3, 4]

names

"Tim" in names

False

In [59]:
# If statements

celtics = 120
heat = 115

if celtics > heat:
    print("Boston Celtics won!")
elif celtics < heat:
    print("Miami Heat won!")
else:
    print("It's a tie!")

Boston Celtics won!

In [65]:
# For loops

for age in ages:
    print(age)

23
45
89
67
23
56
14
34
12

In [67]:
for age in reversed(ages):
    print(age)

12
34
14
56
23
67
89
45
23

In [75]:
for i, age in enumerate(ages):
    print(i, "-->", age)

0 --> 23
1 --> 45
2 --> 89
3 --> 67
4 --> 23
5 --> 56
6 --> 14
7 --> 34
8 --> 12

In [84]:
fruits = "🍎 🍌 🍊 🍒"

fruits_i_like = "🍒 🍎"

fruits.split()

for fruit in fruits.split():
    if fruit in fruits_i_like.split():
        print("I like", fruit)
    else:
        print("I don't like", fruit)

I like 🍎
I don't like 🍌
I don't like 🍊
I like 🍒

In [86]:
# Only print people who are adults (age >= 18)

for age in ages:
    if age >= 18:
        print(age)

23
45
89
67
23
56
34

In [88]:
# List comprehension

[age for age in ages if age >= 18]

[23, 45, 89, 67, 23, 56, 34]

In [91]:
# Define a function that returns the bigger number between two numbers, a and b

def bigger(a, b):
    if a > b:
        return a
    else:
        return b

bigger(3, 4)

4

In [93]:
# Conditional (ternary) operator

def bigger(a, b):
    return a if a > b else b

bigger(3, 4)

4

In [94]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!